.clickable-icon-active {
    visibility: visible;
}

.clickable-icon-inactive {
    visibility: visible;
    cursor: pointer;
}

.text-centered {
    text-align: center !important;
}

.float-right {
    margin-left: auto;
}

.text-unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.muted-text, .muted-link-text {
    color: var(--mud-palette-text-secondary);
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.muted-link-text {
    cursor: pointer;
}

    .muted-link-text:hover {
        color: var(--mud-palette-text-primary);
        transition: color 0.15s ease 0s;
    }